/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHvxk.ttf) format('truetype');
}
@font-face {
  font-family: 'Righteous';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Righteous'), local('Righteous-Regular'), url(https://fonts.gstatic.com/s/righteous/v8/1cXxaUPXBpj2rGoU7C9mjw.ttf) format('truetype');
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  height: 100%;
}
header {
  font-family: "Righteous", cursive;
}
header nav {
  display: flex;
  justify-content: space-around;
}
header nav a {
  text-decoration: none;
  font-size: 1.6rem;
}
.name {
  text-align: center;
}
@media (max-width: 515px) {
  .name {
    margin-top: 1rem;
  }
}
.name h1 {
  font-size: 4rem;
}
.name h2 {
  font-size: 4rem;
}
.intro .intro-container {
  display: flex;
  align-content: center;
  background-color: skyblue;
  text-align: center;
  margin-top: 1rem;
}
@media (max-width: 515px) {
  .intro .intro-container {
    flex-direction: column;
  }
}
.intro .intro-container img {
  flex-grow: 2;
  border-bottom: 2px dotted indigo;
}
@media (max-width: 515px) {
  .intro .intro-container img {
    width: 100%;
    height: auto;
  }
}
.intro .intro-container .text-container {
  margin: 0 4rem;
}
.intro .intro-container .text-container h2 {
  font-size: 4rem;
  text-align: center;
}
@media (max-width: 515px) {
  .intro .intro-container .text-container h2 {
    font-size: 3rem;
  }
}
.intro .intro-container .text-container p {
  font-size: 1.6rem;
  margin: 2rem 0 0;
}
.middle-content {
  margin-top: 1rem;
  border-bottom: 2px dotted indigo;
}
.middle-content h2 {
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: 4rem;
  text-align: center;
}
.middle-content .skills {
  display: flex;
  justify-content: center;
  align-items: baseline;
  text-align: center;
}
.middle-content .skills .front-end {
  font-size: 1.6rem;
}
.middle-content .skills .front-end h3 {
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem;
}
.work {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
  align-items: stretch;
  margin-top: 1rem;
}
.work h2 {
  font-size: 4rem;
  text-align: center;
  margin-top: 1rem;
}
.work .jobs {
  height: 20rem;
}
.work .jobs .headings {
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
  font-weight: bold;
}
@media (max-width: 515px) {
  .work .jobs .headings {
    margin-top: 2rem;
  }
}
.work .jobs .info {
  display: flex;
  justify-content: space-around;
  font-size: 1.6rem;
}
@media (max-width: 515px) {
  .work .jobs .info {
    margin-top: 2rem;
  }
}
footer {
  background-color: slategray;
  display: flex;
  justify-content: center;
  text-align: center;
}
footer a {
  font-size: 25px;
}
