// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url("https://fonts.googleapis.com/css2?family=Lato&family=Righteous&display=swap");

//variables
@heading-font: "Righteous", cursive;
@body-font: "Lato", sans-serif;
@16px-font: 1.6rem;
@top-margin: 1rem;

// mixins
.flex() {
	display: flex;
	justify-content: center;
}

.border() {
	border-bottom: 2px dotted indigo;
}




//----------------------------------------------------------------------------------------------------------------------------------


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

//-----------------------------------------------------------------------------------------------------------------------------------------

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

html,
body {
	height: 100%;
}

header {
	font-family: @heading-font;

	nav {
		display: flex;
		justify-content: space-around;

		a {

			text-decoration: none;
			font-size: @16px-font;
		}

		//closes the a inside nav inside header
	}

	//closes the nav inside header
}

// closes the header

.name {
	text-align: center;

	@media (max-width:515px) {
		margin-top: @top-margin;
	}

	h1 {
		font-size: 4rem;
	}

	h2 {
		font-size: 4rem;
	}
}

.intro {
	.intro-container {
		display: flex;
		align-content: center;
		background-color: skyblue;
		text-align: center;
		margin-top: @top-margin;

		@media (max-width:500px) {
			flex-direction: column;
		}



		img {
			flex-grow: 2;
			.border();
			@media (max-width:500px) {
				width: 100%;
				height: auto;
			}
		}

		.text-container {
			margin: 0 4rem;

			h2 {
				font-size: 4rem;
				text-align: center;



			}

			// closes the h2 inside intro

			p {
				font-size: @16px-font;
				margin: 2rem 0 0;

				@media (max-width:500px) {
					font-size: 2rem;
				}
			}

			//closes the p inside intro
		}

		//closes text container
	}

	//closes intro-container	
}

//closes the intro

.middle-content {
	margin-top: @top-margin;
	.border();

	h2 {
		.flex();
		align-items: baseline;
		font-size: 4rem;
		text-align: center;

	}

	//closes h2

	.skills {
		.flex();
		align-items: baseline;
		text-align: center;

		.front-end {
			font-size: @16px-font;

			h3 {
				font-size: 2rem;
				font-weight: bold;
				margin: 1rem;

			}

			//closes h3

			b {
				@16px-font: 1.6rem;
				
				@media (max-width:500px) {
					font-size: 2rem;
				}
			}
		}

		//closes front-end
	}

	//closes skill section
}

//closes middle content

.work {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: space-around;
	align-items: stretch;
	margin-top: @top-margin;


	h2 {
		font-size: 4rem;
		text-align: center;
		margin-top: @top-margin;
	}

	.jobs {
		height: 20rem;



		.headings {
			display: flex;
			justify-content: space-around;
			font-size: 2rem;
			font-weight: bold;

			@media (max-width:500px) {
				margin-top: 2rem;
			}
		}

		//closes headings
		.info {
			display: flex;
			justify-content: space-around;
			font-size: @16px-font;

			
			@media (max-width:500px) {
				margin-top: 2rem;
				font-size: 2rem;
			}

		}

		//closes info
	}

	//closes jobs

}

//closes work

footer {
	background-color: slategray;
	display: flex;
	justify-content: center;
	text-align: center;

	a {
		font-size: 2.5rem;

		
		@media (max-width:500px) {
			font-size: 3rem;
		}
	}

	//closes a
}

//closes footer